.nav{
  display: flex;
  justify-content: space-around;

  background-color: #FFF7ED; ;
}
.site{
  min-height: 100vh;
}
.section_padding{
  padding: 3rem 6rem;
}

ul{
  display: flex;
  justify-content: space-around;
  gap: 100px;
}
.nav h1 a{
  font-size: 25.35px;
  line-height: 40.27px;
  color: #000000;
  text-decoration: none;
}
ul li {
  list-style-type: none;
}

.Act{
  font-size: 1.2rem;
  color: #FF8C38;
  text-decoration: underline;
}
ul li a:hover{
  text-decoration: underline;
  font-size:1.2rem;
  font-weight: bold;
}
ul li a{
  display: block;
  font-weight: 600;
  font-size: 1rem;
  line-height: 58.92px;
  color: #4d4d4d;
  
  text-decoration: none;
}
.content{
  height: 100vh;
  background: url(./assets/Images/image53.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}
.content h1,p{
  margin: 2rem auto;
}
.content button{
  border: none;
  margin: 3rem auto;
  outline: none;
  width: 100%;
  background-color:#FF8C38; ;
  border-radius: 5px;
  padding: 10px 100px;
}
button a{
  text-decoration: none;
  color: #000000;
}
.footer{
background-color: #252525;
  color: #AAAAAA;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer h6{
  font-size: 14px;

}
.Aboutcontent{
  background-color: #FFF7ED;

}
.Aboutcontent img{

  width: 100%;
  margin-bottom: 1rem;
}
.Aboutcontent .acontent h1{
  line-height: 38px;
  letter-spacing: 0;
}
.Aboutcontent .acontent h1,h6{
   margin-bottom: 2rem;
}
.Aboutcontent .acontent 
h6 {
    font-size: 14px;
}
.box{
  padding: 20px 19px;
  background-color:#FFCC8D ;
  border-radius: 10px;
}
.box h2{
  font-size: 1.3rem;
  margin-bottom: 2rem;
}
.box button{
  border: none;
  outline: none;
  padding: 10px 16px;
  border-radius: 10px;
  background-color: #000000;
  color: #fff;
}
.Host{
  margin: 10px 2rem;
  display: flex;
  justify-content: space-around;
}
.Hostvans{
  margin: 2rem;
}

 .livan a{
  background-color: #fff;
  height: 200px;
  display: flex;
  gap: 10px;
  margin: 1rem auto;
  border-radius: 5px;
  text-decoration: none;
    color: #000000;
}

.listedvan{
  display: flex;
  flex-direction: column;
}

.livan a img{
  width: 20%;
  margin: 15px 20px;
  border-radius: 10px;
}

.livan .col h2{
  margin: 10px 0px 5px;
  text-decoration: none;
  color: #000000;
}

.livan a .col h6{
  margin-bottom: 10px;
  text-decoration: none;
    color: #000000;
}

.livan .col .description{
  margin-top: 0px;
  text-decoration: none;
    color: #000000;
}

.livan .col{
  display: flex;
  flex-direction: column;
}
.description{
  display: flex;
  flex-direction: column;
  margin: auto 1rem auto auto;
}
.description p{
  margin: 0px auto;
  text-align: justify;
  text-decoration: none;
    color: #000000;
}
.description button {
  outline: none;
  border: none;
  padding: 5px;
  width: 100px;
  margin-top: 10px;
  padding: 5px 10px;
  font-size: 14px;
 
  border-radius: 5px;
  color: #FFEAD0;
} 
@media(max-width:1300px) {
  a .description p {
    font-size: 15px;
  }
}
@media(max-width:1230px) {
  .livan a{
    height: 230px;
  }
}

@media(max-width:1000px) {
  .section_padding {
    padding: 2rem 4rem;
  }
 a .description p{
  display: none;
 }
 a .description {
  margin: 0px;
  width: 120px;
  height: 100px;
}
 .livan a {
   height: 150px;
 }
 .livan a img{
  width: 15%;
 }
  ul {
    gap: 40px;
  }
}
@media(max-width:800px){
  
  
    .livan a img {
      width: 20%;
    }
}
@media(max-width:650px){
  .livan a img {
      width: 20%;
    }
    .livan a{
          height: 120px;
        }
}
@media(max-width:650px){
a .description {
    display: none;
  }
}

@media(max-width:550px) {
  .section_padding {
    padding: 1rem 2rem;
  }
.livan a img {
  width: 30%;
}

.livan a {
  height: 120px;
}
  ul {
    gap: 20px;
  }
}